html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: dodgerblue;
}

* {
  box-sizing: border-box;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: lavender;
  padding: 1em;
  margin: 0.6em;
  border-radius: 0.5em;
}

.btnRemove {
  padding: 0.5em;
}